<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <!-- 连接redis单机版 -->
    <bean id="jedisClientPool" class="com.byx.movie.common.jedis.JedisClientPool">
        <property name="jedisPool" ref="jedisPool"/>
    </bean>
    <bean class="redis.clients.jedis.JedisPool" id="jedisPool">
        <!-- 给构造方法 指定参数 -->
        <constructor-arg name="host" value="47.106.10.108"/>
        <constructor-arg name="port" value="6379"/>
    </bean>
</beans>